@model IEnumerable<ProyectoDivisasTomasDominikDadal.Models.VMSku>

@{
    ViewBag.Title = "Consulta1";
}

<h2>Consulta1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Currency)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Currency)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Sku }) |
            @Html.ActionLink("Details", "Details", new { id=item.Sku }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Sku })
        </td>
    </tr>
}

</table>
